<div class="animated fadeIn">
  <div class="row">    
    <div class="col-md-12 mb-4">
      <!-- Nav tabs -->
      <tabset>        
        <tab>
          <ng-template tabHeading><i class="icon-calculator"></i> Ver &nbsp;<span class="badge badge-pill badge-danger">{{totalItems}}</span></ng-template>
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                 <strong>Atenciones Médicas</strong>                 
                 <div class="card-header-actions">
                  <button type="button" class="btn btn-sm btn-pill btn-info" title="Refrescar Consultas/Mostrar Todas" (click)="llenarArrayConsultas(false)"><i class="fa fa-refresh"></i></button>
                  <button type="button" class="btn btn-sm btn-pill btn-success" title="Registrar Nueva Consulta" [disabled]="soloLectura" (click)="primaryModal.show(); showModalRegistrar()"><i class="fa fa-plus"></i>&nbsp;Nuevo</button>
                  <button type="button" class="btn btn-sm btn-pill btn-primary" [disabled]="titleButtonExport!='Exportar'" (click)="exportExcel()" title="Explortar a Excel"><i class="fa fa-file-excel-o"></i>&nbsp;{{titleButtonExport}}</button>
                  <button type="button" class="btn btn-sm btn-pill btn-warning" [disabled]="titleButtonSend!='Enviar'" (click)="enviarMorbilidad('MORBILIDAD')" title="Enviar Reporte de Morbilidad"><i class="fa fa-envelope-o"></i>&nbsp;{{titleButtonSend}}</button>
                </div>
              </div>
              <div class="card-body">
                <div *ngFor="let alert of alertsDismiss">
                  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)"><strong>{{ alert.msg }}</strong></alert>                  
                </div>

                <input class="form-control mt-2 mb-2" type="text" [(ngModel)]="searchText"  (input)="Search()" pattern="" placeholder="Search by ..." />
                
                <table class="{{ classTable }} table-responsive table-sm" id="dataConsultas">
                  <thead>
                    <tr>
                      <th> </th>                      
                      <th scope="col" *ngFor="let t of titulos">
                        
                        <div class="col-1 col-sm-1 col-md-1 col-xl mb-1 mb-xl-0">
                          <button type="button" (click)="sortTable(t.campo)" class="{{ classButton }}"><strong>{{t.titulo}}</strong></button>
                        </div>
                    </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let c of returnedArray">
                      <td>
                        <div class="btn-group" dropdown>
                          <button type="button" class="btn btn-danger">Ver</button>
                          <button type="button" dropdownToggle class="btn btn-danger dropdown-toggle dropdown-toggle-split">
                            <span class="caret"></span>
                            <span class="sr-only">Estirar buton!</span>
                          </button>
                          
                          <ul *dropdownMenu class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="dropdown-item" (click)="showModalActualizar(c); primaryModal.show();" href="javascript:void(0)">Detalles de Consulta</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="planilla='consulta'; downloadAsPDF(c.uid); myModalPlanilla.show();" href="javascript:void(0)">Archivo en PDF</a></li>                            
                          </ul>
                        </div>
                      </td>
                      <td style="font-size: 0.7rem; text-align: center;">{{c.uid}}</td>
                      <td>{{c.fecha | date:'yyyy-MM-dd'}}</td>
                      <td style="text-align: center;">{{c.ci}}</td>
                      <td style="font-size: 0.7rem;">{{c.nombre_completo}}</td>
                      <td style="text-align: center;">{{c.sexo}}</td>
                      <td style="font-size: 0.7rem;">{{c.cargo}}</td>
                      <td style="font-size: 0.7rem;">{{c.motivo}}</td>
                      <td style="font-size: 0.7rem;">{{c.paramedico}}</td>                      
                      <td>
                        <span class="badge badge-success">{{c.login_atendio}}</span>
                      </td>
                      <td style="font-size: 0.7rem;">{{c.patologia}}</td>
                    </tr>                    
                   
                  </tbody>
                </table>
                <ul class="pagination">
                  <div class="col-xs-12 col-12 d-sm-down-none">
                    <pagination [totalItems]="totalItems"  (pageChanged)="pageChanged($event)" [rotate]="true" [maxSize]="10"></pagination>
                  </div>
                </ul>
              </div>
            </div>
          </div>
          <!--/.col-->
          <div bsModal #primaryModal="bs-modal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content modal-primary" >
                <div class="modal-header">
                  <h6 class="modal-title">{{modalTitle}}</h6>
                  <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  
                  <form method="post" accept-charset="UTF-8" class="form-horizontal">
                      <div class="card-header">
                        <i class="fa fa-edit"></i>
                        <strong>Datos Generales para la Atenci&oacute;n:   <code *ngIf="consultas.uid != undefined">Nro. {{consultas.uid}}</code></strong>
                        <div class="card-header-actions">
                          <span class="badge badge-dark">Fecha: {{consultas.fecha | date:'dd/MM/yyyy'}}</span>
                          <span class="badge badge-info">Turno: {{consultas.turno}}</span>
                          <button type="button" class="card-header-action btn btn-link btn-minimize" (click)="toggleCollapse()"><i class={{iconCollapse}}></i></button>
                          
                        </div>
                      </div>           
                      
                        <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed">                          
                            <div class="row">
                              <div class="col-sm-6">                                
                                <div class="input-group">                            
                                  <span class="input-group-prepend">
                                    <button [disabled]="soloLectura" type="button"                                      
                                      (click)="buscarPaciente()" 
                                      class="btn btn-primary btn-sm">
                                      <i class="fa fa-search"></i> 
                                      Paciente
                                    </button>
                                  </span>
                                  <input type="text" id="txtCi" name="txtCi" [(ngModel)]="paciente.ci" [disabled]="soloLectura" (keyup.enter)="buscarPaciente()"  class="form-control form-control-sm" placeholder="Cedula Paciente">
                                  <span  class="input-group-append">
                                    <ng-template #popTemplate>
                                      <div *ngIf="paciente.nombre_completo!=undefined">                                      
                                      <span class="badge badge-light">Sexo:
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                      </span>
                                      <span class="badge badge-dark">{{paciente.sexo}}</span>
                                      <br>
                                      <span class="badge badge-light">Fecha Ingreso:
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                      </span>
                                      <span class="badge badge-dark">{{paciente.fecha_ingreso  | date:'dd/MM/yyyy'}}</span> 
                                      <br>
                                      <span class="badge badge-light">Depto.:
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                      </span>
                                      <span class="badge badge-dark">{{paciente.departamento}}</span>
                                      <br>
                                      <span class="badge badge-light">Cargo:
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        
                                      </span>
                                      <span class="badge badge-dark">{{paciente.cargo}}</span>
                                      <br>
                                      
                                        <span class="badge badge-light">Edad:
                                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                          
                                        </span>
                                        <span class="badge badge-dark">{{paciente.edad.years}}</span>
                                        <br>
                                      
                                      <span class="badge badge-light">Fecha Nac.:
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                                        
                                      </span>
                                      <span class="badge badge-dark">{{paciente.fechanac | date:'dd/MM/yyyy'}}</span>
                                      <br>
                                      <span class="badge badge-light">Tipo Sangre:
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        
                                      </span>
                                      <span class="badge badge-danger">{{paciente.tipo_sangre}}</span>
                                      <br>
                                      <span class="badge badge-light">Alergia:
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                      </span>
                                      <span class="badge badge-danger">{{paciente.alergia}}</span>
                                      <br>
                                      <span class="badge badge-light">Tipo de Discapacidad:</span>
                                      <span class="badge badge-danger">{{paciente.desc_discapacidad}}</span>
                                      <br>
                                      <span class="badge badge-light">Mano Dominante:
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                      </span>
                                      <span class="badge badge-dark">{{paciente.mano_dominante}}</span>
                                      </div>
                                    </ng-template>
                                    <button type="button"                                       
                                      [popover]="popTemplate"
                                      triggers="focus"
                                      popoverTitle="{{paciente.nombre_completo}}"
                                      placement="right"
                                      class="btn btn-primary btn-sm">
                                      <i class="fa fa-eye fa-sm"></i>
                                    </button>
                                  </span>
                                </div>
                              </div>
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <span class="form-group has-float-label">                                                                    
                                    <input type="text" class="form-control form-control-sm" id="txtNombre" readonly name="txtNombre" [(ngModel)]="paciente.nombre_completo" placeholder="Nombre del Paciente">
                                    <label class="badge-light" for="txtNombre">Nombre</label>
                                  </span>
                                </div>
                              </div>
                            </div><!--/.row 1-->                            

                            <div class="row">
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <span class="form-group has-float-label">                                                                    
                                    <select [disabled]="soloLectura" class="form-control form-control-sm" name="cboMedicoGuardia" [(ngModel)]="consultas.id_medico"  id="cboMedicoGuardia">
                                      <option *ngFor="let medico of selectMedicos" [selected]="consultas.id_medico == medico.uid" [value]="medico.uid">{{medico.nombre}}</option>
                                                                     
                                    </select>
                                    <label for="cboMedicoGuardia">M&eacute;dico de Guardia</label>
                                </span>  
                                </div>
                              </div>
        
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <span class="form-group has-float-label">
                                    <select  class="form-control form-control-sm" [disabled]="soloLectura" name="cboParamedico" [(ngModel)]="consultas.id_paramedico" id="cboParamedico">
                                      <option *ngFor="let para of selectParamedicos" [value]="para.uid">{{para.nombre}}</option>                                                                     
                                    </select>
                                    <label class="badge-light" for="cboParamedico">Paramedico de Guardia</label>
                                  </span>  
                                </div>
                              </div>
                            </div><!--/.row 2-->
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="form-group">
                                    <span class="form-group has-float-label">
                                      <select class="form-control form-control-sm" id="cboTipoDiagnostico" [disabled]="soloLectura" name="cboTipoDiagnostico" (change)="listarMotivos($event.target.value)" [(ngModel)]="vConsultas.fkdiagnostico">
                                        <option *ngFor="let diag of arrayTiposDiagnoticos" [value]="diag.uid">{{diag.descripcion}}</option>
                                      </select>
                                      <label class="badge-light" for="cboTipoDiagnostico">Tipo Diagnóstico</label>
                                    </span>
                                </div>                          
                              </div>
        
                              <div class="col-sm-6">
                                
                                <div class="form-group">
                                  <span class="form-group has-float-label">
                                    <select class="form-control form-control-sm" [disabled]="soloLectura" id="cboAreaIncidente" name="cboAreaIncidente" [(ngModel)]="consultas.id_area">
                                      <option *ngFor="let are of areas" [value]="are.uid">{{are.descripcion}}</option>
                                    </select>
                                    <label class="badge-light" for="cboAreaIncidente">&Aacute;rea Incidente  o Atenci&oacute;n</label>

                                  </span>                             
                                </div>
                               
                              </div>
                            </div><!--/.row 3-->
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="form-group">
                                    <span class="form-group has-float-label">                                    
                                      <select class="form-control form-control-sm" id="cboMotivo" [disabled]="soloLectura" name="cboMotivo" (change)="chequeaAutorizacionMotivo($event.target.value)" [(ngModel)]="consultas.id_motivo">
                                        <option *ngFor="let mov of arrayMotivos" [value]="mov.uid" [selected]="mov.fkdiagnostico == vConsultas.fkdiagnostico">{{mov.descripcion}}</option>
                                      </select>
                                      <label class="badge-light" for="cboMotivo">Motivo</label>
                                    </span>
                                </div>
                              </div>
        
                              <div class="col-sm-6">
                                <div *ngIf="user.nivel==1 || soloLectura" class="input-group">                            
                                  <span class="input-group-prepend">
                                    <button [disabled]="soloLectura" type="button"                                      
                                      (click)="onSearchEnter()" 
                                      class="btn btn-primary btn-sm">
                                      <i class="fa fa-search"></i> 
                                      Patología
                                    </button>
                                  </span>
                                  <input #typeaheadInstance [(ngModel)]="selectedPatolog" name="txtPatologia" id="txtPatologia"
                                      [disabled]="soloLectura"
                                      [typeahead]="patologias"
                                      typeaheadOptionField="descripcion"
                                      [isAnimated]="true"
                                      [typeaheadScrollable]="true"
                                      [typeaheadOptionsInScrollableView]="10"                                      
                                      typeaheadGroupField="tipo"
                                      [typeaheadSingleWords]="false"
                                      (typeaheadOnSelect)="onSelect($event)"                                       
                                      (keydown.enter)="onSearchEnter()"
                                      (ngModelChange)="onInputChange()"                                      
                                      class="form-control form-control-sm"
                                  >
                                  <span class="input-group-append"> 
                                    <ng-template #popTemplatePatog>                                      
                                      {{selectedOptionPatolog?.definicion}}
                                      <br>
                                      <a href="{{urlICD}}{{selectedOptionPatolog?.url}}" target="_blank">
                                        <small className="text-muted">{{selectedOptionPatolog?.url}}</small>
                                      </a>                                                                            
                                    </ng-template>
                                    <button type="button"                                       
                                      [popover]="popTemplatePatog"
                                      
                                      popoverTitle="{{selectedOptionPatolog?.descripcion}}"
                                      placement="right"
                                      class="btn btn-primary btn-sm">
                                      <i *ngIf="!loadingPatologia" class="fa fa-eye fa-sm"></i>
                                      <img *ngIf="loadingPatologia" width="16px" height="16px" src="../../../../assets/img/loading.gif">
                                    </button>
                                    
                                  </span>
                                  <!-- Mostrar las sugerencias si la bandera showSuggestions es true -->
                                  <div class="custom-list-container" *ngIf="showSuggestions && _patologias.length > 0">                                      
                                    <ul class="custom-list-group">
                                      <li class="custom-list-group-item"
                                          *ngFor="let patologia of _patologias"
                                          (click)="onSelectOption(patologia)">
                                        <!-- Utiliza directamente las clases found y nonwbe en el mismo elemento li -->
                                        <div class="found">{{ patologia.codigo_etica }}</div>
                                        <div class="nonwbe" [innerHTML]="patologia.descripcion"></div>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div><!--/.row 3-->
                            <div class="row">        
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <span class="form-group has-float-label">                                                                       
                                      <select class="form-control form-control-sm" [disabled]="soloLectura" name="cboTipoAfecciones" [(ngModel)]="consultas.fkafeccion"  id="cboTipoAfecciones">
                                        <option *ngFor="let afec of afecciones" [value]="afec.idafecciones">{{afec.descripcion_afeccion}}</option>
                                      </select>
                                      <label class="badge-light" for="cboTipoAfecciones">Tipo de Afecci&oacute;n por Sistema</label>
                                   </span>
                                </div>
                              </div>
                            </div><!--/.row 4-->
                            <div class="row">
                              <div class="form-group col-sm-3">
                                <span class="form-group has-float-label">
                                  <input type="number" [disabled]="soloLectura" class="form-control form-control-sm" name="txtFResp" [(ngModel)]="signoVital.fresp" id="txtFResp" placeholder="Frecuencia Respiratoria">
                                  <label class="badge-light" for="txtFResp">F.Resp.</label>
                                </span>
                              </div>
                              
                              <div class="form-group col-sm-3">                                
                                <span class="form-group has-float-label">
                                  <input type="number" [disabled]="soloLectura" class="form-control form-control-sm" name="txtPulso" [(ngModel)]="signoVital.pulso" id="txtPulso" placeholder="Pulsaciones x Min.">
                                  <label for="txtPulso">Pulso</label>
                                </span>
                              </div>
                              <div class="form-group col-sm-3">
                                <span class="form-group has-float-label">
                                  <input type="number" [disabled]="soloLectura" class="form-control form-control-sm" name="txtTemp" [(ngModel)]="signoVital.temper" id="txtTemp" placeholder="Temperatura">
                                  <label for="txtTemp">Temp.</label>
                                </span>  
                              </div>
                              <div class="form-group col-sm-3">
                                <span class="form-group has-float-label">
                                  <input type="text" [disabled]="soloLectura" class="form-control form-control-sm" name="txtTArt" [(ngModel)]="signoVital.tart" id="txtTArt" placeholder="Tension Arterial">
                                  <label for="txtTArt">T.Art.</label>
                                </span>
                              </div>
                            </div><!--/.row 5-->
                            <div class="row">
                              <div class="form-group col-sm-3">
                                <span class="form-group has-float-label">                                  
                                  <input type="number" [disabled]="soloLectura" class="form-control form-control-sm" name="txtTalla" [(ngModel)]="antropometria.talla" (change)="calc_imc()" id="txtTalla" placeholder="Nro. de Talla">
                                  <label for="txtTalla">Talla</label>
                                </span>
                              </div>
                              <div class="form-group col-sm-3">
                                <span class="form-group has-float-label">
                                  <input type="number" [disabled]="soloLectura" class="form-control form-control-sm" name="txtPeso" [(ngModel)]="antropometria.peso" (change)="calc_imc()" id="txtPeso" placeholder="Peso">
                                  <label for="txtPeso">Peso</label>
                                </span>
                              </div>
                              <div class="form-group col-sm-3">
                                <span class="form-group has-float-label">
                                  <input type="number" readonly [disabled]="soloLectura" class="form-control form-control-sm" name="txtImc" [(ngModel)]="antropometria.imc" id="txtImc" placeholder="Indice Masa Corporal">
                                  <label for="txtImc">IMC</label>
                                </span>
                              </div>
                              <div class="form-group col-sm-3">
                                <span class="form-group has-float-label">
                                  <input type="number" [disabled]="soloLectura" class="form-control form-control-sm" name="txtFCard" [(ngModel)]="signoVital.fcard" id="txtFCard" placeholder="Frecuencia Cardiaca">
                                  <label for="txtFCard">F. Card.</label>
                                </span>
                              </div>
                            </div><!--/.row 6-->

                            <div class="row">
                              <div class="form-group col-sm-3">
                                <span class="form-group has-float-label">
                                  <select class="form-control form-control-sm" [disabled]="soloLectura" [(ngModel)]="consultas.id_remitido" name="cboRemitido" id="cboRemitido">
                                    <option *ngFor="let rem of remitidos" [value]="rem.uid">{{rem.descripcion}}</option>                                                                  
                                  </select>
                                  <label for="cboRemitido">Remitido</label>
                                </span> 
                              </div>
                              <div class="form-group col-sm-3">
                                <span class="form-group has-float-label">                                  
                                  <select class="form-control form-control-sm" [disabled]="soloLectura" [(ngModel)]="consultas.id_reposo" name="cboTiempoReposo" id="cboTiempoReposo">
                                    <option *ngFor="let tiempo of tiemposReposo" [value]="tiempo.uid">{{tiempo.descripcion}}</option>
                                  </select>
                                  <label for="cboTiempoReposo">Tiempo Reposo</label>
                                </span>
                              </div>
                              <div class="form-group col-sm-3">
                                <span class="form-group has-float-label">                                
                                  <select class="form-control form-control-sm" [disabled]="soloLectura" [(ngModel)]="consultas.condicion" name="cboCondicion" id="cboCondicion">
                                    <option *ngFor="let cond of condiciones" [selected]="consultas.condicion == cond.valor" [value]="cond.valor">{{cond.display}}</option>
                                  </select>
                                  <label for="cboCondicion">Condici&oacute;n</label>
                                </span>
                              </div>
                              <div class="form-group col-sm-3">
                                <span class="form-group has-float-label">                                
                                  <input type="date" class="form-control form-control-sm" [disabled]="soloLectura" name="txtFechaproxCita" [(ngModel)]="consultas.fecha_prox_cita" id="txtFechaproxCita">
                                  <label for="txtFechaproxCita">Fecha Prox. Cita</label>
                                </span>
                              </div>
                            </div><!--/.row 7-->

                            <div class="row">
                              <div class="col-md-6">
                                <span class="form-group has-float-label">                                  
                                  <textarea id="txtMotivoConsulta" [disabled]="soloLectura" name="txtMotivoConsulta" [(ngModel)]="consultas.sintomas" rows="2"  class="form-control form-control-sm" placeholder="Descripcion Consulta..."></textarea>
                                  <label for="txtMotivoConsulta">Motivo de la Consulta</label>
                                </span>
                              </div>
                            
                              <div class="col-md-6">
                                <span class="form-group has-float-label">                                
                                  <textarea id="enfermedadActual" [disabled]="soloLectura" name="enfermedadActual" rows="2" [(ngModel)]="consultas.observaciones" class="form-control form-control-sm" placeholder="Sintomas Actuales..."></textarea>
                                  <label for="enfermedadActual">Enfermedad Actual</label>
                                </span>
                              </div>
                            </div><!--/.row 8-->

                            <div class="row">
                              <div class="col-md-6">
                                <span class="form-group has-float-label">
                                  <textarea id="diagnostico" name="diagnostico" [disabled]="soloLectura" rows="2" [(ngModel)]="consultas.resultado_eva" class="form-control form-control-sm" placeholder="Diagnostico..."></textarea>
                                  <label for="diagnostico">Descripcion Diagn&oacute;stico</label>
                                </span>
                              </div>
                            
                              <div class="col-md-6">
                                <span class="form-group has-float-label">                                
                                  <textarea id="observacion" name="observacion" [disabled]="soloLectura" rows="2" [(ngModel)]="consultas.observacion_medicamentos" class="form-control form-control-sm" placeholder="Observaciones..."></textarea>
                                  <label for="observacion">Observaci&oacute;n</label>
                              </span>  
                              </div>
                            </div><!--/.row 9-->

                         
                        </div>

                        <div class="card-header">
                          <i class="fa fa-edit"></i><strong>Rerefencias y Medicamentos</strong>
                          <div class="card-header-actions">
                            
                            <button type="button"  class="card-header-action btn btn-link btn-minimize" (click)="toggleCollapse()"><i class={{iconCollapse_1}}></i></button>
                            
                          </div>
                        </div>
                        <div class="card-body" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed_1" >
                          <div *ngIf="tipoUser!='PARAMEDICO' || soloLectura" class="card">
                            <div class="card-header">
                              <strong>Referencias</strong>
                              <div class="card-header-actions">                            
                                <button type="button" class="btn btn-sm btn-pill btn-primary" [disabled]="arrayReferencias.length==0" (click)="planilla='referencia'; myModalPlanilla.show();" title="Imprimir Referencia"><i class="fa fa-print"></i></button>                              
                              </div>
                            </div>
                                                        
                            <table class="table table-condensed" id="dataReferencias">
                              
                                <tr>                                
                                  <th scope="col">Especialidad</th>
                                  <th scope="col">Informe</th>
                                  <th scope="col">Add+</th>
                                </tr>
                                <tr>                                
                                  <th scope="col"><input type="text" [disabled]="soloLectura" class="form-control form-control-sm" [(ngModel)]="referencia.especialidad"  name="txtEspecialidad" id="txtEspecialidad" placeholder="Referenciado a..."></th>
                                  <th scope="col"><input type="text" [disabled]="soloLectura" class="form-control form-control-sm" [(ngModel)]="referencia.informe" name="txtInforme" id="txtInforme" placeholder="Descripcion de Referencia"></th>
                                  <th scope="col">                                  
                                  <button type="button" [disabled]="soloLectura" (click)="addReferencia(); pop.show() " #pop="bs-popover" class="btn btn-block btn-link"
                                        [popover]="alertaReferencia" [popoverTitle]="titleReferencia">
                                        <i class="fa fa-paperclip"></i>
                                  </button>
                                  
                                  </th>
                                </tr>                              
                                <tr *ngFor="let ref of arrayReferencias; let i=index">                                
                                  <td>{{ref.especialidad}}</td>
                                  <td>{{ref.informe}}</td>
                                  <td><button type="button" [disabled]="soloLectura"                                                                        
                                    (click)="quitReferencia(i)" 
                                    class="btn btn-block btn-link">
                                    <i class="icon-close"></i>
                                  </button></td> 
                                </tr>                              
                            </table> 
                          </div>
                          <div class="card">                            
                            <div class="card-header">
                              <strong>Medicamentos Aplicados</strong>                                                            
                            </div>
                            <table class="table table-condensed" id="dataMedicamentosAplicados">                              
                                <tr>                                
                                  <th scope="col">Medicina</th>
                                  <th scope="col">Unidad Medida</th>
                                  <th scope="col">Cant.</th>
                                  <th scope="col">Add+</th>
                                </tr>
                                <tr>                                    
                                  <th scope="col">
                                    <select [disabled]="soloLectura" class="form-control form-control-sm" [(ngModel)]="medicamentoAplic.id_medicamento" id="cboMedicinaAplicada" name="cboMedicinaAplicada">
                                      <option value="">Seleccione Medicamento</option>
                                      <option  *ngFor="let med of arrayMedicamentos; let m=index" [value]="med.uid">{{med.descripcion}}</option>                                                                  
                                    </select></th>
                                  <th scope="col"><select class="form-control form-control-sm" [disabled]="soloLectura" [(ngModel)]="medicamentoAplic.medidas"  id="cboUnidad" name="cboUnidad">
                                    <option value="Comprimido">Comprimido</option>
                                    <option value="Ampolla">Ampolla</option>
                                    <option value="CC">CC</option>
                                    <option value="Torunda">Torunda</option>
                                    <option value="Blister">Blister</option>
                                    <option value="Crema">Crema</option>                                 
                                  </select></th>
                                  <th scope="col"><input type="number" [disabled]="soloLectura" class="form-control form-control-sm" [(ngModel)]="medicamentoAplic.cantidad" name="txtCantidad" id="txtCantidad" placeholder="0"></th>
                                  <th scope="col">
                                    <button type="button" [disabled]="soloLectura" (click)="addMedicamento()" class="btn btn-block btn-link"
                                        [popover]="alertaMedicamento" [popoverTitle]="titleMedicamento">
                                        <i class="fa fa-paperclip"></i>
                                    </button>
                                  </th>
                                </tr>                                
                                <tr *ngFor="let medA of medicamentoAplicado.medicamentos; let j=index">                                
                                  <td>{{medA.medicamento.descripcion}}</td>
                                  <td>{{medA.medidas}}</td>
                                  <td>{{medA.cantidad}}</td>
                                  <td><button type="button" [disabled]="soloLectura" 
                                    (click)="quitMedicamento(j)" 
                                    class="btn btn-block btn-link">
                                    <i class="icon-close"></i>
                                    </button>
                                  </td>
                                </tr>                              
                            </table>
                          </div>
                          <div *ngIf="tipoUser!='PARAMEDICO' || soloLectura" class="card">                            
                            <div class="card-header">
                              <strong>Recetario</strong>
                              <div class="card-header-actions">                            
                                <button type="button" class="btn btn-sm btn-pill btn-primary" [disabled]="medicamentoIndicados.length==0" (click)="planilla='recipe'; myModalPlanilla.show();" title="Imprimir Recetario"><i class="fa fa-print"></i></button>                              
                              </div>                              
                            </div>
                            <table class="table table-condensed" id="dataMedicamentosIndicados">
                              
                                <tr>                                
                                  <th scope="col">Medicina</th>
                                  <th scope="col">Indicaciones</th>                                
                                  <th scope="col">Add+</th>
                                </tr>
                                <tr>                                
                                  <th scope="col"><select class="form-control form-control-sm" [disabled]="soloLectura" [(ngModel)]="medicamentoIndic.medicamento" id="cboMedicinaIndicada" name="cboMedicinaIndicada">
                                    <option value="">Seleccione Medicamento</option>
                                    <option  *ngFor="let ind of arrayMedicamentosIndicados; let d=index" [value]="ind.uid">{{ind.descripcion}}</option>                                                                  
                                  </select></th>                               
                                  <th scope="col"><input type="text" [disabled]="soloLectura" class="form-control form-control-sm" [(ngModel)]="medicamentoIndic.indicacion" name="txtIndicaciones" id="txtIndicaciones" placeholder=""></th>
                                  <th scope="col">
                                    <button type="button" [disabled]="soloLectura" (click)="addIndicacion()" class="btn btn-block btn-link"
                                        [popover]="alertaIndicacion" [popoverTitle]="titleIndicacion">
                                        <i class="fa fa-paperclip"></i>
                                    </button>
                                  </th>
                                </tr>
                              
                                <tr *ngFor="let indica of medicamentoIndicados; let g=index">                                
                                  <td>{{indica.medicamento}}</td>
                                  <td>{{indica.indicacion}}</td>
                                  <td><button type="button" [disabled]="soloLectura"
                                    (click)="quitIndicacion(g)" 
                                    class="btn btn-block btn-link">
                                    <i class="icon-close"></i>
                                    </button>
                                  </td>                                
                                </tr>                             
                              
                            </table>
                          </div>  
                        </div>
                  </form>    
                </div>
                
                <div class="modal-footer">
                  <div *ngFor="let alert of alertsDismiss">
                    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)"><strong>{{ alert.msg }}</strong></alert>                  
                  </div>
                  <div *ngIf="preEmpleo">
                    <label class="switch switch-label switch-pill switch-warning" tooltip="Requiere de Autorizaci&oacute;n">                    
                      <input [disabled]="soloLectura" type="checkbox" name="chkAutorizacion" id="chkAutorizacion" class="switch-input" [(ngModel)]="autorizacion">
                      <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                    </label>
                  </div>
                  <button type="button" class="btn btn-secondary" (click)="primaryModal.hide()">Close</button>
                  <button type="button" [disabled]="blockRegister" (click)="registrar()" class="btn btn-primary" [popover]="alertaRegistrar" [popoverTitle]="titleRegistrar">Guardar</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
        </tab>
        <tab>
          <ng-template tabHeading><i class="icon-pie-chart"></i> Graficas</ng-template>
          <div class="card">
            <div class="card-header">
              Polar Area Chart              
            </div>
            <div class="card-body">
              <div class="chart-wrapper">
                <canvas baseChart class="chart"
                [data]="polarAreaChartData"
                [labels]="polarAreaChartLabels"
                [legend]="polarAreaLegend"
                [chartType]="polarAreaChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
          </div>
        </tab>
      </tabset>


    </div><!--/.col-->
  </div><!--/.row-->
</div>

<div bsModal #myModalPlanilla="bs-modal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalPlanilla" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content modal-primary" >
      <div class="modal-header">        
        <button type="button" class="close" (click)="myModalPlanilla.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="planilla=='consulta'">
          <planilla-consulta [uidPaciente]="uidPaciente" ></planilla-consulta>
        </div>
        <div *ngIf="planilla=='recipe'">
          <planilla-recipe [inIdConsulta]="consultas.uid" ></planilla-recipe>
        </div>
        <div *ngIf="planilla=='referencia'">
          <planilla-referencia [inIdConsulta]="consultas.uid" ></planilla-referencia>
        </div>
      </div>
                
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="myModalPlanilla.hide()">Close</button>      
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->