<div style="background: url('../../../assets/img/banner.JPG')no-repeat 0px 0px; height: 100vh; background-size: cover;
text-align: center;" class="">
<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div style="margin-top:300px;" class="card-group">
            <div  class="card p-4">
              <div  class="card-body">
                <form name="form" style="max-width: 500px;">
                  <h1>Login</h1>
                  <p class="text-muted">Accede con tu usuario</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" name="login" id="login" placeholder="Username"  autocomplete="username" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><c-icon icon="cilLockLocked"></c-icon></span>
                    </div>
                    <input name="passw" id="passw" type="password" class="form-control"  placeholder="Password"  required autocomplete="current-password" required>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="button"  class="btn btn-primary px-4" >Login</button>
                    </div>
                    
                  </div>
                </form>
              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>Bienvenido al</h2>
                  <h4>Sistema de <br>Herramientas</h4>
                  <h6>Si cuenta con un usuario puede ingresar colocando su login y clave.</h6>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
</div>