<div style="background: url('../../../assets/img/banner.JPG')no-repeat 0px 0px; height: 100vh; background-size: cover;
text-align: center;" class="">
  
  <div  class="col-sm-12 col-md mb-sm-2 mb-1">
    <div style="background: rgba(255, 255, 255, 0.09); max-width: 100%;
    padding: 40px 15px 15px;
    margin: 0 auto;
	margin-top:0px;" class="card">
          
      <!--/.card-->
    <div class="row">
          <div class="col-sm-6 col-lg-3">
            <div class="brand-card">
              <div class="brand-card-header bg-facebook">
                <i class="fa fa-medkit fa-bg mt-2"></i>
                
              </div>
              <div class="brand-card-body">
                <div>
                  <div class="text-value"> <a (click)="seleccionaSistema('ServicioMedico')" href="javascript:void(0)"> Sistema de Gestion Integral de Salud </a></div>
                  
                </div>
                <div>
                  <div class="text-value">459</div>
                  <div class="text-uppercase text-muted small">Usuarios</div>
                </div>
              </div>
            </div>
          </div>
          
          <!--/.col-->
          <!--
          <div class="col-sm-6 col-lg-3">
            <div class="brand-card">
              <div class="brand-card-header bg-twitter">
                <i class="fa fa-twitter"></i>
                <div class="chart-wrapper">
                  <canvas baseChart class="chart"
                  [datasets]="brandBoxChartData2"
                  [labels]="brandBoxChartLabels"
                  [options]="brandBoxChartOptions"
                  [colors]="brandBoxChartColours"
                  [legend]="brandBoxChartLegend"
                  [chartType]="brandBoxChartType"></canvas>
                </div>
              </div>
              <div class="brand-card-body">
                <div>
                  <div class="text-value">973k</div>
                  <div class="text-uppercase text-muted small">followers</div>
                </div>
                <div>
                  <div class="text-value">1.792</div>
                  <div class="text-uppercase text-muted small">tweets</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="brand-card">
              <div class="brand-card-header bg-linkedin">
                <i class="fa fa-linkedin"></i>
                <div class="chart-wrapper">
                  <canvas baseChart class="chart"
                  [datasets]="brandBoxChartData3"
                  [labels]="brandBoxChartLabels"
                  [options]="brandBoxChartOptions"
                  [colors]="brandBoxChartColours"
                  [legend]="brandBoxChartLegend"
                  [chartType]="brandBoxChartType"></canvas>
                </div>
              </div>
              <div class="brand-card-body">
                <div>
                  <div class="text-value">500+</div>
                  <div class="text-uppercase text-muted small">contacts</div>
                </div>
                <div>
                  <div class="text-value">292</div>
                  <div class="text-uppercase text-muted small">feeds</div>
                </div>
              </div>
            </div>
          </div>
          -->
          <div class="col-sm-6 col-lg-3">
            <div class="brand-card">
              <div class="brand-card-header bg-google-plus">
                <i class="fa fa-balance-scale fa-bg mt-2"></i>
                <div class="chart-wrapper">
                
                </div>
              </div>
              <div class="brand-card-body">
                <div>
                  <div class="text-value"> <a (click)="seleccionaSistema('Balanza')" href="javascript:void(0)"> Sistema <br> Balanza </a></div>
                </div>
                <div>
                  <div class="text-value">92</div>
                  <div class="text-uppercase text-muted small">Usuarios</div>

                </div>
              </div>
            </div>
          </div><!--/.col-->
        </div><!--/.row-->
      </div>
  </div>
</div>