  <div class="card">
    <div class="card-header d-flex">

        <div class="p-2 w-100">
          <h5>HERRAMIENTAS</h5> 
        </div>
        <div class="p-2 flex-shrink-1">
          <button type="button" class="btn btn-success btn-sm" (click)="nuevo()" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="bi bi-plus-circle-fill">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
            </svg>
          </i></button>
        </div>

    </div>

    <div class="card-body">

      <form class="d-flex mb-3" role="search">

        <input
        id="nombre"
         class="form-control me-2"
         [(ngModel)]="searchTerm" 
         type="search" placeholder="buscar Herramienta"
          aria-label="Search">

        <button class="btn btn-outline-success" (click)="listaHerramientas()" type="submit">Search</button>  
      </form>

      <div class="table-responsive">
        <table class="table justify-content-center table-light table-hover">
          <thead>
            <tr>
              <th style="text-align: center;" ></th>
              <th style="text-align: center;" >ID</th>
              <th style="text-align: center;" >Codigo</th>
              <th style="text-align: center;" >Nombre</th>
              <th style="text-align: center;" >Fecha</th>
              <th style="text-align: center;" >Stock</th>
              <th style="text-align: center;" >Observaciones</th>
              <th style="text-align: center;" >Ubicación</th>
              <th style="text-align: center;" >Descripción</th>
              <th style="text-align: center;" >Cantidad Minima</th>
              <th style="text-align: center;" >Status</th>
              <th style="text-align: center;" >FCM</th>
              <th style="text-align: center;" >UMB</th>
              <th style="text-align: center;" >Numero Parte</th>
              <th style="text-align: center;" >Precio Pedido</th>
              <th style="text-align: center;" >SM</th>
              <th style="text-align: center;" >CAP</th>
              <th style="text-align: center;" >Precio Estandar</th>
            </tr>
          </thead>

          <tbody class="table-group-divider">

            <tr *ngFor="let item of herramientas">
              <td><button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="editar(item)" class="btn btn-success btn-sm"><i class="bi bi-pencil-square">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                </svg>
              </i></button></td>
              <td style="text-align: center; min-width: 100px;">{{ item.idherramienta }}</td>
              <td style="text-align: center; min-width: 100px;">{{ item.codigoant }}</td>
              <td style="text-align: center; min-width: 150px;">{{ item.nombre }}</td>
              <td style="text-align: center; min-width: 100px;">{{ item.fecha | date: "dd/MM/yyyy" }}</td>
              <td style="text-align: center; min-width: 100px;">{{ item.stock }}</td>
              <td style="text-align: center; min-width: 150px;">{{ item.observaciones }}</td>
              <td style="text-align: center; min-width: 150px;">{{ item.ubicacion }}</td>
              <td style="text-align: center; min-width: 200px;">{{ item.descripcion }}</td>
              <td style="text-align: center; min-width: 100px;">{{ item.cantidadminima }}</td>
              <td style="text-align: center; min-width: 100px;">{{ item.estatus }}</td>
              <td style="text-align: center; min-width: 100px;">{{ item.fcm }}</td>
              <td style="text-align: center; min-width: 100px;">{{ item.umb }}</td>
              <td style="text-align: center; min-width: 150px;">{{ item.numeroparte }}</td>
              <td style="text-align: center; min-width: 100px;">{{ item.preciopedido }}</td>
              <td style="text-align: center; min-width: 100px;">{{ item.sm }}</td>
              <td style="text-align: center; min-width: 100px;">{{ item.cap }}</td>
              <td style="text-align: center; min-width: 100px;">{{ item.precioestandar }}</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
    <footer>
      <div class="d-flex justify-content-between p-2">
        <ngb-pagination
          [collectionSize]="collectionSize"
          [(page)]="page"
          [pageSize]="pageSize"
          (pageChange)="refreshCountries()"
        >
        </ngb-pagination>
      
        <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
          <option [ngValue]="2">2 items per page</option>
          <option [ngValue]="4">4 items per page</option>
          <option [ngValue]="6">6 items per page</option>
        </select>
      </div>
    </footer>
  </div>



<form [formGroup]="formHerramientas" class="row g-3">

    <!-- Modal -->
    
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">  
            
            <h1 class="modal-title fs-5" id="staticBackdropLabel"> {{operacion}} </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

          </div>

          <div class="modal-body">

            <div class="row col-sm-max">

              <!-- CAJA DERECHA -->
              <div class="col-sm-6">
  
                <div class="d-flex">
  
                  <div class="p-2 col-md-4">
                    <label for="inputFecha" class="form-label">Fecha</label>
                    <input formControlName="fecha" type="text" readonly class="form-control" id="inputFecha" >
                  </div>
                  <div class="p-2 col-md-5">
                    <label for="inputMarca" class="form-label">Marca</label>
                    <input formControlName="marca" type="text" class="form-control" id="inputMarca">
                  </div>

                </div>
  
                <div class="d-flex">
  
                  <div class="p-2 col-md-9">
                    <label for="inputNombre" class="form-label">Nombre</label>
                    <input formControlName="nombre" type="text" class="form-control" id="inputNombre">
                  </div>
  
                </div>

                <div class="d-flex">
                  <div class="p-2 col-md-9">
                    <label for="inputParte" class="form-label">Numero Parte</label>
                    <input formControlName="numeroparte" type="text" class="form-control" id="inputParte">
                  </div>
                </div>

                <div class="d-flex">

                  <div class="p-2 col-md-5">
                    <label for="inputSm" class="form-label">SM</label>
                    <input formControlName="sm" type="text" class="form-control" id="inputSm">
                  </div>

                  <div class="p-2 col-md-4">
                    <label for="inputCap" class="form-label">CAP</label>
                    <input formControlName="cap" type="text" class="form-control" id="inputCap">
                  </div>

                  </div>
  
                </div>
  
              <!-- CAJA IZQUIERDA -->
              <div class="col-sm-6">
  
                <div class="d-flex">
  
                  <div class="p-2 col-md-5">
                    <label for="inputStock" class="form-label">Stock</label>
                    <input formControlName="stock" type="number" class="form-control" id="inputStock">
                  </div>
  
                  <div class="p-2 col-md-5">
                    <label for="inputEstatus" class="form-label">Estatus</label>
                    <select formControlName="estatus" class="form-select" id="inputEstatus" required>    
                      <option value="ACTIVO">ACTIVO</option>
                      <option value="INACTIVO">INACTIVO</option>
                    </select>
                  </div>
  
                </div>
  
                <div class="d-flex">
  
                  <div class="p-2 col-md-5">
                    <label for="inputEstatus" class="form-label">Ubicación</label>
                    <input formControlName="ubicacion" type="text" class="form-control" id="inputEstatus">
                  </div>
    
                  <div class="p-2 col-md-5">
                    <label for="inputEstatus" class="form-label">Precio Pedido</label>
                    <input formControlName="preciopedido" type="number" class="form-control" id="inputEstatus">
                  </div>
  
                </div>

                <div class="d-flex">

                  <div class="p-2 col-md-5">
                    <label for="inputCantidad" class="form-label">Cantidad Minima</label>
                    <input formControlName="cantidadminima" type="number" class="form-control" id="inputCantidad">
                  </div>

                  <div class="p-2 col-md-5">
                    <label for="inputEstandar" class="form-label">Precio Estandar</label>
                    <input formControlName="precioestandar" type="number" class="form-control" id="inputEstandar">
                  </div> 

                </div>

                <div class="d-flex">

                  <div class="p-2 col-md-5">
                    <label for="inputFcm" class="form-label">FCM</label>
                    <input formControlName="fcm" type="number" class="form-control" id="inputFcm">
                  </div>

                  <div class="p-2 col-md-5">
                    <label for="inputUmb" class="form-label">UMB</label>
                    <input formControlName="umb" type="number" class="form-control" id="inputUmb">
                  </div>

                </div>

              </div>
            </div>
              
        
            <div class="mb-3">
              <label for="exampleDescripcion" class="form-label">Descripción</label>
              <textarea formControlName="descripcion" class="form-control" id="exampleDescripcion" rows="3"></textarea>
            </div>
            <div class="mb-3">
              <label for="exampleObservaciones" class="form-label">Observaciones</label>
              <textarea formControlName="observaciones" class="form-control" id="exampleObservaciones" rows="3"></textarea>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="agregarHerramienta()"> Guardar </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
      </div>
    </div>
  </div>

</form>