  <div class="card">
    <div class="card-header">
      
      <div class="d-flex justify-content-center mt-2">
        <h5>HERRAMIENTAS</h5> 
      </div>

    </div>

    <div class="card-body">

      <div class="table-responsive">
        <table class="table table-light table-hover table-bordered">
          <thead class="">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Codigo</th>
              <th scope="col">Nombre</th>
              <th scope="col">Fecha</th>
              <th scope="col">Stock</th>
              <th scope="col">Observaciones</th>
              <th scope="col">Ubicación</th>
              <th scope="col">Descripción</th>
              <th scope="col">Cantidad Minima</th>
              <th scope="col">Status</th>
              <th scope="col">FCM</th>
              <th scope="col">UMB</th>
              <th scope="col">Numero Parte</th>
              <th scope="col">Precio Pedido</th>
              <th scope="col">SM</th>
              <th scope="col">CAP</th>
              <th scope="col">Precio Estandar</th>
            </tr>
          </thead>

          <tbody class="table-group-divider">
              
              <tr *ngFor="let item of _listaherramientas">
                <td style="text-align: center;">{{ item.idherramienta }}</td>
                <td style="text-align: center;">{{ item.codigoant }}</td>
                <td style="text-align: center;">{{ item.nombre }}</td>
                <td style="text-align: center;">{{ item.fecha }}</td>
                <td style="text-align: center;">{{ item.stock }}</td>
                <td style="text-align: center;">{{ item.observaciones }}</td>
                <td style="text-align: center;">{{ item.ubicacion }}</td>
                <td style="text-align: center;">{{ item.descripcion }}</td>
                <td style="text-align: center;">{{ item.cantidadminima }}</td>
                <td style="text-align: center;">{{ item.status }}</td>
                <td style="text-align: center;">{{ item.fcm }}</td>
                <td style="text-align: center;">{{ item.umb }}</td>
                <td style="text-align: center;">{{ item.numeroparte }}</td>
                <td style="text-align: center;">{{ item.preciopedido }}</td>
                <td style="text-align: center;">{{ item.sm }}</td>
                <td style="text-align: center;">{{ item.cap }}</td>
                <td style="text-align: center;">{{ item.precioestandar }}</td>
              </tr>
                     
          </tbody>
        </table>
      </div>

    </div>

    <footer>

      <div class="d-flex justify-content-center mb-3">

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Agregar Herrmaienta</button>

      </div>

    </footer>
  </div>



  <form [formGroup]="formHerramientas" class="row g-3">

    <!-- Modal -->
    
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">  
            
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregue Herramienta Nueva</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">

            <div class="d-flex justify-content-evenly mb-3">
              <div class="col-md-2 p-2">
                <label for="inputCodigo" class="form-label">ID</label>
                <input formControlName="idherramienta" type="number" class="form-control" id="inputCodigo" placeholder="000000">
              </div>
              <div class="col-md-2 p-2">
                <label for="inputFecha" class="form-label">Fecha</label>
                <input formControlName="fecha" type="date" class="form-control" id="inputFecha">
              </div>
              <div class="col-md-4 p-2">
                <label for="inputNombre" class="form-label">Nombre</label>
                <input formControlName="nombre" type="text" class="form-control" id="inputNombre" placeholder="ADAPTADOR P/RATCHET DE 1/2A 3/8">
              </div>
              <div class="col-md-4 p-2">
                <label for="inputBusqueda" class="form-label">Busqueda de Herramientas</label>
                <select id="inputBusqueda" class="form-select">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
              </div>
            </div>
        
            <div class="d-flex justify-content-evenly mb-3">
              <div class="ms-auto p-2">
                <label for="inputMarca" class="form-label">Marca</label>
                <input formControlName="marca" type="text" class="form-control" id="inputMarca" placeholder="STANLEY">
              </div>
              <div class="ms-auto p-2">
                <label for="inputStock" class="form-label">Stock</label>
                <input formControlName="stock" type="number" class="form-control" id="inputStock" placeholder="0">
              </div>
              <div class="ms-auto p-2">
                <label for="inputEstatus" class="form-label">Estatus Producto</label>
                <input formControlName="status" type="number" class="form-control" id="inputEstatus" placeholder="0">
              </div>
      
              <div class="ms-auto p-2">
                <label for="inputEstatus" class="form-label">Ubicación</label>
                <input formControlName="ubicacion" type="text" class="form-control" id="inputEstatus" placeholder="H 00001">
              </div>
      
              <div class="ms-auto p-2">
                <label for="inputEstatus" class="form-label">Precio Pedido</label>
                <input formControlName="precioPedido" type="number" class="form-control" id="inputEstatus" placeholder="0">
              </div>
      
            </div>
        
            <div class="mb-3">
              <label for="exampleDescripcion" class="form-label">Descripción</label>
              <textarea formControlName="descripcion" class="form-control" id="exampleDescripcion" rows="3"></textarea>
            </div>
            <div class="mb-3">
              <label for="exampleObservaciones" class="form-label">Observaciones</label>
              <textarea formControlName="observaciones" class="form-control" id="exampleObservaciones" rows="3"></textarea>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="agregarHerramienta(); limpiar()">Agregar</button>
            <button type="button" class="btn btn-info" (click)="limpiar()">Modificar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
      </div>
    </div>
  </div>

</form>