  <div class="card">
    <div class="card-header">
      
      <div class="d-flex justify-content-center mt-2">
        <h5>HERRAMIENTAS</h5> 
      </div>

    </div>

    <div class="card-body">

      <form class="d-flex mb-3" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <div class="table-responsive">
        <table class="table table-sm table-light table-hover">
          <thead class="">
            <tr>
              <th style="text-align: center;" ></th>
              <th style="text-align: center;" >ID</th>
              <th style="text-align: center;" >Codigo</th>
              <th style="text-align: center;" >Nombre</th>
              <th style="text-align: center;" >Fecha</th>
              <th style="text-align: center;" >Stock</th>
              <th style="text-align: center;" >Observaciones</th>
              <th style="text-align: center;" >Ubicación</th>
              <th style="text-align: center;" >Descripción</th>
              <th style="text-align: center;" >Cantidad Minima</th>
              <th style="text-align: center;" >Status</th>
              <th style="text-align: center;" >FCM</th>
              <th style="text-align: center;" >UMB</th>
              <th style="text-align: center;" >Numero Parte</th>
              <th style="text-align: center;" >Precio Pedido</th>
              <th style="text-align: center;" >SM</th>
              <th style="text-align: center;" >CAP</th>
              <th style="text-align: center;" >Precio Estandar</th>
            </tr>
          </thead>

          <tbody class="table-group-divider">

            <tr *ngFor="let item of _listaherramientas">
              <td><button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-success btn-sm">Editar</button></td>
              <td style="text-align: center; min-width: 100px;">{{ item.idherramienta }}</td>
              <td style="text-align: center; min-width: 100px;">{{ item.codigoant }}</td>
              <td style="text-align: center; min-width: 150px;">{{ item.nombre }}</td>
              <td style="text-align: center; min-width: 100px;">{{ item.fecha }}</td>
              <td style="text-align: center; min-width: 100px;">{{ item.stock }}</td>
              <td style="text-align: center; min-width: 150px;">{{ item.observaciones }}</td>
              <td style="text-align: center; min-width: 150px;">{{ item.ubicacion }}</td>
              <td style="text-align: center; min-width: 200px;">{{ item.descripcion }}</td>
              <td style="text-align: center; min-width: 100px;">{{ item.cantidadminima }}</td>
              <td style="text-align: center; min-width: 100px;">{{ item.status }}</td>
              <td style="text-align: center; min-width: 100px;">{{ item.fcm }}</td>
              <td style="text-align: center; min-width: 100px;">{{ item.umb }}</td>
              <td style="text-align: center; min-width: 150px;">{{ item.numeroparte }}</td>
              <td style="text-align: center; min-width: 100px;">{{ item.preciopedido }}</td>
              <td style="text-align: center; min-width: 100px;">{{ item.sm }}</td>
              <td style="text-align: center; min-width: 100px;">{{ item.cap }}</td>
              <td style="text-align: center; min-width: 100px;">{{ item.precioestandar }}</td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>

    <footer>

      <div class="d-flex justify-content-center mb-3">

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Agregar Herrmaienta</button>

      </div>

    </footer>
  </div>



  <form [formGroup]="formHerramientas" class="row g-3">

    <!-- Modal -->
    
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">  
            
            <h1 class="modal-title fs-5" id="staticBackdropLabel">{{operacion}}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">

            <div class="d-flex justify-content-evenly mb-3">
              <div class="col-md-2 p-2">
                <label for="inputCodigo" class="form-label">ID</label>
                <input formControlName="idherramienta" type="number" class="form-control" id="inputCodigo" placeholder="000000">
              </div>
              <div class="col-md-2 p-2">
                <label for="inputFecha" class="form-label">Fecha</label>
                <input formControlName="fecha" type="date" class="form-control" id="inputFecha">
              </div>
              <div class="col-md-8 p-2">
                <label for="inputNombre" class="form-label">Nombre</label>
                <input formControlName="nombre" type="text" class="form-control" id="inputNombre" placeholder="ADAPTADOR P/RATCHET DE 1/2A 3/8">
              </div>
            </div>
        
            <div class="d-flex justify-content-evenly mb-3">
              <div class="ms-auto p-2">
                <label for="inputMarca" class="form-label">Marca</label>
                <input formControlName="marca" type="text" class="form-control" id="inputMarca" placeholder="STANLEY">
              </div>
              <div class="ms-auto p-2">
                <label for="inputStock" class="form-label">Stock</label>
                <input formControlName="stock" type="number" class="form-control" id="inputStock" placeholder="0">
              </div>
              <div class="ms-auto p-2">
                <label for="inputEstatus" class="form-label">Estatus Producto</label>
                <input formControlName="status" type="number" class="form-control" id="inputEstatus" placeholder="0">
              </div>
      
              <div class="ms-auto p-2">
                <label for="inputEstatus" class="form-label">Ubicación</label>
                <input formControlName="ubicacion" type="text" class="form-control" id="inputEstatus" placeholder="H 00001">
              </div>
      
              <div class="ms-auto p-2">
                <label for="inputEstatus" class="form-label">Precio Pedido</label>
                <input formControlName="precioPedido" type="number" class="form-control" id="inputEstatus" placeholder="0">
              </div>
      
            </div>
        
            <div class="mb-3">
              <label for="exampleDescripcion" class="form-label">Descripción</label>
              <textarea formControlName="descripcion" class="form-control" id="exampleDescripcion" rows="3"></textarea>
            </div>
            <div class="mb-3">
              <label for="exampleObservaciones" class="form-label">Observaciones</label>
              <textarea formControlName="observaciones" class="form-control" id="exampleObservaciones" rows="3"></textarea>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="agregarHerramienta()">{{operacion}}</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
      </div>
    </div>
  </div>

</form>