<div class="row">
    <div class="widget col-sm-6 col-lg-3" style="margin-bottom: 1rem;">  <div class="card text-white bg-primary">
        <div class="card-body pb-2">
          <div class="text-value h1">5</div>
          <div>PEDIDOS</div>
        </div>
      </div>
    </div>
  
    <div class="widget col-sm-6 col-lg-3" style="margin-bottom: 1rem;">  <div class="card text-white bg-info">
        <div class="card-body pb-2">
          <div class="text-value h1">10</div>
          <div>DEVOLUCIONES</div>
        </div>
      </div>
    </div>
  
    <div class="widget col-sm-6 col-lg-3" style="margin-bottom: 1rem;">  <div class="card text-white bg-warning">
        <div class="card-body pb-2">
          <div class="text-value h1">7</div>
          <div>POR DEVOLVER</div>
        </div>
      </div>
    </div>
  
    <div class="widget col-sm-6 col-lg-3" style="margin-bottom: 1rem;">  <div class="card text-white bg-danger">
        <div class="card-body pb-2">
          <div class="text-value h1">3</div>
          <div>NUEVAS HERRAMIENTAS</div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="d-flex justify-content-center align-items-center">
    <img src="../../../../assets/img/unnamed.jpg" style="width: 1500px; height: 475px; border: 5px solid #ffcdd2; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);">
  </div>