<div style="background: url('../../../assets/img/banner.JPG')no-repeat 0px 0px; height: 100vh; background-size: cover;
text-align: center;" class="">
<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div style="margin-top:300px;" class="card-group">
            <div  class="card p-4">
              <div  class="card-body">
                <form name="form" style="max-width: 500px;">
                  <h1>Login</h1>
                  <p class="text-muted">Accede con tu usuario</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                          <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                        </svg>
                    </i></span>
                    </div>
                    <input type="text" [(ngModel)]="username" class="form-control" name="login" id="login" placeholder="Username"  autocomplete="username" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><c-icon icon="cilLockLocked">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                          <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2M5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1"/>
                        </svg>
                      </c-icon></span>
                    </div>
                    <input [(ngModel)]="passw" name="passw" id="passw" type="password" class="form-control"  placeholder="Password"  required autocomplete="current-password" required>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="button"  class="btn btn-primary px-4" (click)="login()">Login</button>
                    </div>
                    
                  </div>
                </form>
              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>Bienvenido al</h2>
                  <h4>Sistema de <br>Herramientas</h4>
                  <h6>Si cuenta con un usuario puede ingresar colocando su login y clave.</h6>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
</div>