.tg  {
  border-collapse:collapse;
  border-spacing:0; 
  border: 0px; 
}
.tg td{
  border-color:black;
  border-style:solid;
  border-width:0px;
  font-family:Arial, sans-serif;
  font-size:12px;
  overflow:hidden;
  padding:3px 3px;
  word-break:normal;
  text-align: center;
  color: black;
  white-space: nowrap;
}
.tg th{
  border-color:black;
  border-style:solid;
  border-width:0px;
  font-family:Arial, sans-serif;
  font-size:12px;
  font-weight:normal;
  overflow:hidden;
  padding:3px 3px;
  word-break:normal;
  text-align: center;
  white-space: nowrap;
}
.tgi td{
  border-color:black;
  border-style:solid;
  border-width:0px;
  font-family:Arial, sans-serif;
  font-size:12px;
  overflow:hidden;
  padding:3px 3px;
  word-break:normal;
  text-align: left;
  color: black;
  white-space: nowrap;
}
.tgi th{
  border-color:black;
  border-style:solid;
  border-width:0px;
  font-family:Arial, sans-serif;
  font-size:12px;
  font-weight:normal;
  overflow:hidden;
  padding:3px 3px;
  word-break:normal;
  text-align: left;
  white-space: nowrap;
}
.tg .tg-ce4a{
  border-color:#ffffff;
  font-family:"Trebuchet MS", Helvetica, sans-serif !important;
  font-size:12px;
  font-weight:bold;
  text-align:center;
  vertical-align: middle
}
.tg .tg-c3ow{
  border-color:#ffffff;
  font-family:"Trebuchet MS", Helvetica, sans-serif !important;
  font-size:9px;
  font-weight:bold;
  text-align:center;
  vertical-align: middle
}
.tg .tg-pquw{
  border-color:#ffffff;
  font-family:"Trebuchet MS", Helvetica, sans-serif !important;
  font-size:12px;
  font-weight:bold;
  text-align:center;
  vertical-align:middle
}

ol {
  float: left;
  margin: 0;
  padding: 0px;
  border: 0px none;
  list-style-position: inside;
  list-style-type: none
}

li {
  PADDING-RIGHT: 2px;
  margin-left: 4px;
  /*DISPLAY: inline;*/
  PADDING-LEFT: 3px;
  FLOAT: left;  
  PADDING-TOP: 1px;
  border: 0px none;
  border-right: 1px 0;
}