<div class="container">
    <div class="row" >
        <div class="container-fluid">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <button type="button" [disabled]="disableButtonImp" class="btn btn-outline-dark" (click)="exportHtmlToPDF()">{{titleButtonImp}}</button>
                <button printSectionId="htmltable" class="btn btn-outline-dark" ngxPrint>Vista Prelim.</button>      
            </div>    
        </div>
    </div>    
    
    <div class="container-fluid" id="htmltable" #htmltable>
        <table class="tg" style="table-layout: fixed; width: 100%">
            <colgroup>
                <col style="width: 20%">
                <col style="width: 80%">
            </colgroup>
            <thead>
              <tr>
                <td class="tg-c3ow"><img width="130px" height="80px" src="../../../assets/logo.jpg"></td>
                <td class="tg-c3ow"><span style="font-weight:bold;font-style:italic; text-align: center;">GERENCIA DE TALENTO HUMANO</span><br>
                                    <span style="font-weight:bold;font-style:italic; text-align: center;">Depto. de Higiene y Seguridad Industrial</span><br>
                                    <span style="font-weight:bold;font-style:italic; text-align: center;">Servicio Medico Ocupacional</span>
                </td>
              </tr>
            </thead>
        </table>
        
        <table class="table table-bordered table-sm" style="font-size: 11px;" width="90%" >
            <tr bgcolor="#F0ECEC">
                <th width="15%">FECHA</th>
                <th width="65%">APELLIDO Y NOMBRE DEL SOLICITANTE</th>
                <th width="30%">CEDULA</th>
            </tr>
            <tr>
                <td>{{ vConsulta.fecha | date:'dd/MM/yyyy' }}</td>
                <td>{{ vConsulta.nombre_completo }}</td>
                <td>{{ vConsulta.ci }}</td>
            </tr>
            <tr bgcolor="#F0ECEC">
                <th width="15%">TURNO</th>
                <th width="65%">CARGO</th>
                <th width="30%">FIRMA</th>
            </tr>
            <tr>
                <td >{{ vConsulta.turno }}</td>
                <td>{{ vConsulta.cargo }}</td>
                <td></td>
            </tr>
            <tr bgcolor="#F0ECEC">
                <th width="35%">GERENCIA</th>
                <th width="45%">DEPARTAMENTO</th>
                <th width="30%">CONTRATISTA</th>
            </tr>
            <tr>
                <td  height="30px">{{ vConsulta.gcia }}</td>
                <td>{{ vConsulta.departamento }}</td>
                <td>{{ vConsulta.contratista }}</td>
            </tr>
            <tr bgcolor="#F0ECEC">
                <th width="55%">APELLIDOS Y NOMBRE DEL SUPERVISOR</th>
                <th width="25%">CEDULA SUPERVISOR</th>
                <th width="30%">CONDICION TRABAJADOR</th>
            </tr>
            <tr>
                <td  height="30px">{{  vMorbilidad.nombres_jefe }}</td>
                <td>{{  vMorbilidad.supervisor }}</td>
                <td>{{ vConsulta.condicion }}</td>
            </tr>
            <tr bgcolor="#F0ECEC">
                <th width="35%">MOTIVO</th>
                <th width="45%">REFERIDO A</th>
                <th width="30%">REPOSO</th>
            </tr>
            <tr>
                <td height="30px">{{ vConsulta.motivo }}</td>
                <td>{{ vConsulta.remitido }}</td>
                <td>{{ vConsulta.reposo }}</td>
            </tr>
            <tr bgcolor="#F0ECEC">
                <th colspan="3" width="110%">ENFERMEDAD ACTUAL</th>
            </tr>
            <tr>
                <td colspan="3"  height="30px">{{ vConsulta.observaciones }}</td>
            </tr>
            <tr bgcolor="#F0ECEC">
                <th colspan="3" width="110%">MOTIVO DE LA CONSULTA</th>
            </tr>
            <tr>
                <td colspan="3" height="30px">{{ vConsulta.sintomas }}</td>
            </tr>
            <tr bgcolor="#F0ECEC">
                <th colspan="3" width="110%">PATOLOGIA</th>
            </tr>
            <tr>
                <td colspan="3" height="30px">{{ vConsulta.patologia }}</td>
            </tr>
            <tr bgcolor="#F0ECEC">
                <th colspan="3" width="110%">DIAGNOSTICO</th>
            </tr>
            <tr>
                <td colspan="3" height="30px">{{ vConsulta.resultado_eva }}</td>
            </tr>
            <tr bgcolor="#F0ECEC">
                <th colspan="3" width="110%">EVALUACION MEDICA</th>
            </tr>
            <tr>
                <th colspan="3" height="30px">                    
                    <span *ngIf="signoVital.fresp!=undefined">F. Resp.: {{ signoVital.fresp }};&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span *ngIf="signoVital.pulso!=undefined">Pulso: {{ signoVital.pulso }};&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span *ngIf="signoVital.temper!=undefined">Temp.: {{ signoVital.temper }};&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span *ngIf="antropometria.talla!=undefined">Talla: {{ antropometria.talla }};&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span *ngIf="antropometria.peso!=undefined">Peso: {{ antropometria.peso }};&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span *ngIf="signoVital.tart!=undefined">T. Art.: {{ signoVital.tart }};&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span *ngIf="signoVital.fcard!=undefined">F. Card.: {{ signoVital.fcard }};&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span *ngIf="antropometria.imc!=undefined">IMC: {{ antropometria.imc }}</span>                    
                </th>
            </tr>
            <tr bgcolor="#F0ECEC">
                <th colspan="3" width="110%">OBSERVACION</th>
            </tr>
            <tr>
                <td colspan="3" height="30px">{{ vConsulta.observacion_medicamentos }}</td>
            </tr>
            <tr bgcolor="#F0ECEC">
                <th colspan="3" width="110%">REFERENCIA MEDICA</th>
            </tr>
            <tr>
                <td colspan="3" height="30px">{{ vConsulta.referencia_medica }}</td>
            </tr>            
            
            <tr *ngIf="countMedicamentos != undefined && countMedicamentos != 0" bgcolor="#F0ECEC">
                <th colspan="3" width="110%">MEDICAMENTOS ADMINISTRADOS</th>
            </tr>
        
            <tr *ngIf="countMedicamentos != undefined && countMedicamentos != 0" bgcolor="#F0ECEC">
                <th width="35%">MEDICAMENTO</th>
                <th width="45%">UNIDAD/MEDIDA</th>
                <th width="30%">CANTIDAD</th>
            </tr>
            
            <tr *ngFor="let medA of medicamentoAplicado.medicamentos; let j=index">
                <td>{{ medA.medicamento.descripcion }}</td>
                <td>{{ medA.medidas }}</td>
                <td>{{ medA.cantidad }}</td>
            </tr>
            <tr *ngIf="vConsulta.observacion_medicamentos != undefined && vConsulta.observacion_medicamentos != ''" >
                <th colspan="3" width="110%">OBSERVACIÓN (MEDICAMENTOS)</th>
            </tr>
		    <tr *ngIf="vConsulta.observacion_medicamentos != undefined && vConsulta.observacion_medicamentos != ''" bgcolor="#F0ECEC">
                <td colspan="3" height="30px">{{ vConsulta.observacion_medicamentos }}</td>
            </tr>
        </table>            

        <div class="container">
            <div class="row align-items-start">
                <div *ngIf="vConsulta.medico != undefined && vConsulta.medico != ''" class="col">
                    <strong>MÉDICO DE GUARDIA</strong>
                </div>                          
                <div *ngIf="vConsulta.paramedico != undefined && vConsulta.paramedico != ''" class="col">
                    <strong>PARAMÉDICO/ENFERMERO(A) DE GUARDIA</strong>
                </div>
            </div>
            <div class="row align-items-start">
                <div *ngIf="vConsulta.medico != undefined && vConsulta.medico != ''" class="col">
                    {{ vConsulta.medico }}
                </div>                          
                <div *ngIf="vConsulta.paramedico != undefined && vConsulta.paramedico != ''" class="col">
                    {{ vConsulta.paramedico }}
                </div>
            </div>
            <div class="row align-items-start">
                <div class="col">
                    <font color="#F0ECEC">FIRMA</font>
                </div>                          
                <div class="col">
                    <font color="#F0ECEC">FIRMA</font>
                </div>
            </div>
        </div>            
        
    </div>
  
  </div>